<%- include ("_header.ejs"); %>
    <h1 style="text-align: center; padding-top: 100px;">Welcome to Cross-Site-Scripting</h1>
    <div class="formContainer" style="margin: auto; width: 100%; padding: 100px; text-align: center; border-top: 15px solid #148cac; border-bottom: 15px solid #148cac;">
     <h1>HI <%= myUserInput %></h1>
    </div>
<%- include ("_footer.ejs"); %>